/*----------chrome-ziro---------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------chrome-ziro---------*/

body {
	height: 100vh;
	background-color: rgb(25, 149, 231);
	padding-top: 100px;
}
.wrapper{
	width: 300px;
	margin: 0 auto;
}
.todo-wrap{
	background-color: rgba(255, 255, 255, 0.404);
}
#input{
	width: 70%;
}
#btn{
	width: 20%;
}
ul{
	list-style: none;
}
#result{
	margin-bottom: 50px;
}
.btn {
	background-color: red;
	border: none;
	color: #fff;
	margin-left: 15px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.li {
	padding: 4px 8px;
	background-color: #eddfff;
	border: 1px solid brown;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
	width: 100%;
	text-transform: capitalize;

}
.li-active{
	color: #555;
	text-decoration: line-through;
	background: #000;

}
.li-active .btn{
	color: #555;
	text-decoration: line-through;
	background: #000;

}